.bpreading-config-view {
  form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
    margin-bottom: 16px;
  }

  .error {
    color: #ee402e;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
}
