@import './pico.red.min.css';

/* Custom styles */
.error {
  color: var(--pico-del-color);
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.success {
  color: var(--pico-ins-color);
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.hidden-input {
  display: none;
}

button.danger {
  --pico-background-color: var(--pico-del-color);
  --pico-border-color: var(--pico-del-color);
  --pico-color: var(--pico-primary-inverse);
}

button.danger:hover {
  --pico-background-color: var(--pico-del-color);
  --pico-border-color: var(--pico-del-color);
  opacity: 0.9;
}
